.Task {
  padding-top: 28px;
}

.task__container {
  background: #fff;
  padding: 8px;
  border: 1px solid rgba(119, 119, 119, 0.521);
  border-radius: 4px;
  box-sizing: border-box;
}

.task__header {
  color: #777;
  font-size: small;
}

.task__body {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.task__content {
  flex-grow: 1;
  padding-right: 8px;
  text-align: 1.4;
}

.task__content input {
  outline: none;
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid blueviolet;
}

.task__option {
  display: flex;
  margin-right: -8px;
}

.task__option .btn {
  font-size: 16px;
  width: 32px;
  height: 32px;
  transition: 0.3s linear;
}

.task__option .btn:hover {
  background: #eae9ee;
}

.task__overlay {
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: vsb 0.5s ease;
}

@keyframes vsb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}